.title {
    background-image: url(../../images/calculating.jpg);
    background-repeat: no-repeat;
    background-color: #8E8E8E;
    background-position-y: 55%;
    background-position-x: center;
    background-size: cover;
    color: #EEEEEE;
    text-shadow: black 0.1em 0.1em 0.2em;
}